<a href="https://colab.research.google.com/github/yasmindevegili/Exerc-cios-em-Sala/blob/main/Dictionaries_and_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dicionários
###Para inicializar dicionários:
* nm_dict = dict()

In [2]:
capital = {
    'RS':'Porto Alegre',
    'SC':'Florianópolis',
    'PR':'Curitiba'
}
print(type(capital), capital)

<class 'dict'> {'RS': 'Porto Alegre', 'SC': 'Florianópolis', 'PR': 'Curitiba'}

In [3]:
#Criando Hash para cada estado
hash('RS'), hash('SC'), hash('PR')

(1088629019388216233, 2965972425926131613, 1407459910019672779)

In [5]:
#Propriedades do dicionário
print(capital['RS'])
capital['RS'] = 'PORTO ALEGRE'
print(capital['RS'])

Porto Alegre
PORTO ALEGRE

In [6]:
#Tamanho do dicionário
len(capital)

3

In [10]:
for state in capital.keys():
  print(f"A capital de {state} é {capital[state]}")

A capital de RS é PORTO ALEGRE
A capital de SC é Florianópolis
A capital de PR é Curitiba

In [16]:
capital.keys()

dict_keys(['RS', 'SC', 'PR'])

In [18]:
capital.values()

dict_values(['PORTO ALEGRE', 'Florianópolis', 'Curitiba'])

In [19]:
capital.items()

dict_items([('RS', 'PORTO ALEGRE'), ('SC', 'Florianópolis'), ('PR', 'Curitiba')])

In [22]:
for state, cap in capital.items():
  print(f"A capital de {state} é {cap}")

A capital de RS é PORTO ALEGRE
A capital de SC é Florianópolis
A capital de PR é Curitiba

In [25]:
#Prevendo erros
capital.get('PA', 'Não Encontrado')

'Não Encontrado'

In [27]:
for state in capital.keys():
  capital[state] = capital[state].upper()
print(capital)

{'RS': 'PORTO ALEGRE', 'SC': 'FLORIANÓPOLIS', 'PR': 'CURITIBA'}

In [28]:
#Criando outro dic
data = {
    'RS':{
        'capital':'PORTO ALEGRE',
        'populacao':11466630
    },
    'SC':{
        'capital':'FLORIANÓPOLIS',
        'populacao':7338473
    },
    'PR':{
        'capital':'CURITIBA',
        'populacao':11597484
    }    
}

In [29]:
for state in data.keys():
  print(data[state])

{'capital': 'PORTO ALEGRE', 'populacao': 11466630}
{'capital': 'FLORIANÓPOLIS', 'populacao': 7338473}
{'capital': 'CURITIBA', 'populacao': 11597484}

In [30]:
for state in data.keys():
  print(f"A população de {state} é {data[state]['populacao']}")

A população de RS é 11466630
A população de SC é 7338473
A população de PR é 11597484

#Strings

In [31]:
x = 'paraná'
y = 'paraná'
print(x==y)

True

In [32]:
x+y

'paranáparaná'

In [33]:
'a'*5

'aaaaa'

In [34]:
z = """SELECT * from tblx t
  WHERE campo1 = valor1
  order by 1 DESC"""

In [42]:
print(z)

SELECT * from tblx t
  WHERE campo1 = valor1
  order by 1 DESC

In [44]:
print(z[10:])

rom tblx t
  WHERE campo1 = valor1
  order by 1 DESC

In [45]:
print(z[-10:])

 by 1 DESC

In [46]:
print(z[::-1])

CSED 1 yb redro
1rolav = 1opmac EREHW
t xlbt morf * TCELES

In [47]:
for metodo in dir(z):
  if '__' not in metodo:
    print(metodo)

capitalize
casefold
center
count
encode
endswith
expandtabs
find
format
format_map
index
isalnum
isalpha
isascii
isdecimal
isdigit
isidentifier
islower
isnumeric
isprintable
isspace
istitle
isupper
join
ljust
lower
lstrip
maketrans
partition
replace
rfind
rindex
rjust
rpartition
rsplit
rstrip
split
splitlines
startswith
strip
swapcase
title
translate
upper
zfill

In [50]:
#Exemplo de métodos
#Casefold: letras minusculas
print(f"Casefold de teste para {'TESTE'.casefold()}")

Casefold de teste para teste

In [52]:
#Capitalize: 1° letra maiuscula
print(f"Capitalize de teste para {'teste'.capitalize()}")

Capitalize de teste para Teste

In [58]:
#Endswitch
print(f"Endswitch de teste: {'eq__'.endswith('__')}")

Endswitch de teste para True

In [59]:
#Split
produto = 'Coca cola 300 ML'
produto.split()

['Coca', 'cola', '300', 'ML']

In [60]:
SQL = """
  SELECT * FROM tbl_produto
  WHERE cd in ()
"""
produtos = ['10','15','20']

In [62]:
print(SQL)

  SELECT * FROM tbl_produto
  WHERE cd in ()

In [63]:
'('+','.join(produtos)+')'

'(10,15,20)'

In [64]:
produtos = ['10','15','20']
lista_produtos = '('+','.join(produtos)+')'
SQL = f"""
  SELECT * FROM tbl_produto
  WHERE cd in {lista_produtos}
"""
print(SQL)

  SELECT * FROM tbl_produto
  WHERE cd in (10,15,20)

In [65]:
produtos = [10,15,20]
str(tuple(produtos))

'(10, 15, 20)'

In [67]:
import pandas as pd

In [68]:

lista_tabelas = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o')

In [69]:
len(lista_tabelas)

5

In [70]:
for tabela in lista_tabelas:
  display(tabela.head())

,Posição,Unidade federativa,População (2010)[2],População (2021),Mudança,% da pop. total,País comparável (habitantes)
0,1,São Paulo,41 262 199,46 649 132,+13.05%,"21,9%",Espanha (46 439 864)
1,2,Minas Gerais,19 597 330,21 411 923,+9.26%,"10,1%",Sri Lanka (20 675 000)
2,3,Rio de Janeiro,15 989 929,17 463 349,+9.21%,"8,2%",Síria (17 500 658)
3,4,Bahia,14 016 906,14 985 284,+6.91%,"7,1%",Chade (14 037 000)
4,5,Paraná,10 444 526,11 597 484,+11.04%,"5,4%",Bolívia (11 410 651)

,Posição,Região,População,% da pop. total,País comparável (habitantes)
0,1,Região Sudeste,89 632 912,"42,04%",República Democrática do Congo (86 790 567)
1,2,Região Nordeste,57 667 842,"27,09%",África do Sul (58 775 022)
2,3,Região Sul,30 402 587,"14,26%",Nepal (29 609 623)
3,4,Região Norte,18 906 962,"8,82%",Cazaquistão (18 574 680)
4,5,Região Centro-Oeste,16 707 336,"7,79%",Senegal (16 209 125)

                   Região                                                UFs
0         Norte prefixo 1          RO AC AM RR PA AP TO 11 12 13 14 15 16 17
1      Nordeste prefixo 2  MA PI CE RN PB PE AL SE BA 21 22 23 24 25 26 2...
2       Sudeste prefixo 3                            MG ES RJ SP 31 32 33 35
3           Sul prefixo 4                                  PR SC RS 41 42 43
4  Centro-Oeste prefixo 5                            MS MT GO DF 50 51 52 53

,vdeClassificações das unidades federativas do Brasil,vdeClassificações das unidades federativas do Brasil.1
0,Características geográficas,Área Densidade demográfica Número de município...
1,Indicadores demográficos,População Densidade demográfica Natalidade Fec...
2,Gestão pública,Sedes governamentais Transparência Arrecadação...
3,Indicadores econômicos e sociais,PIB Série histórica 1939 1950 1960 1970 1980 1...
4,PIB,Série histórica 1939 1950 1960 1970 1980 1990 ...

                          0                                                  1
0                       PIB  Série histórica 1939 1950 1960 1970 1980 1990 ...
1                  Trabalho  Empregados com carteira assinada Desemprego Ap...
2  Desigualdade e bem-estar  Segurança alimentar Renda per capita IDH segun...
3                  Educação  Alfabetização Crianças e adolescentes fora da ...
4                     Saúde  Mortalidade infantil Óbitos infantis Taxa de h...

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [71]:
lista_tabelas[0].to_excel('pop.xlsx')